:root {
  --color-black: #1f2028;
  --color-gray: #a9adc1;
  --color-white: #ffffff;
  --color-blue: #36a3ff;
  --color-dark-gray: #2e3039;
}

* {
  font-family: "Blinker", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
  color: var(--color-gray);
  margin: 0;
  padding: 0;
}

/**
 header 
 */

/* navbar */
header nav {
  width: 100%;
  background-color: var(--color-black);
  padding: 25px 75px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
}

header nav a {
  text-decoration: none;
}

header nav .logo {
  font-weight: 600;
  font-size: 32px;
  color: var(--color-white);
  flex-grow: 1;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
  margin-left: 50px;
}

header nav ul li a {
  font-size: 24;
  font-weight: 600;
  color: var(--color-gray);
}

header nav ul li a:hover {
  color: var(--color-white);
}

header nav ul li a.active {
  color: var(--color-white);
}

/* hero */
header section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 10vw;
  padding: 0 150px;
}

header section article {
  flex: 4;
}

header section article p {
  margin: 0;
}

header section.home article p:last-of-type {
  font-weight: 400;
  font-size: 36px;
  color: var(--color-white);
  margin-bottom: 25px;
}

header section.home article p:last-of-type span {
  color: var(--color-blue);
}

header section.home article p:nth-last-of-type(2) {
  font-size: 68px;
  font-weight: 600;
  color: var(--color-white);
}

header section.home article p:nth-last-of-type(3) {
  font-size: 24px;
  font-weight: 400;
}

header section.home article a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-black);
  padding: 10px 20px;
  background-color: var(--color-blue);
  border-radius: 50px;
  font-weight: 400;
  font-size: 20px;
  transition: all 0.5s ease;
}

header section.home article a:hover {
  transform: scale(1.05);
}

header section article p:first-child {
  font-size: 48px;
  font-weight: 600;
  color: var(--color-white);
}

header section article p:last-child {
  font-weight: 600;
  font-size: 40px;
}

header section div {
  flex: 3;
}

header section div img {
  width: 100%;
}

/* aside */
aside address:first-child {
  position: fixed;
  height: 50vh;
  left: 75px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

aside address:last-child {
  position: fixed;
  height: 50vh;
  right: 75px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

aside address:last-child a {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  color: var(--color-white);
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

aside address div {
  flex: 1;
  width: 1px;
  background-color: var(--color-white);
}

/**
 main 
 */

/* about section */
main section.about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 10vw;
  padding: 0 150px;
}

main section.about:nth-of-type(even) {
  flex-direction: row-reverse;
}

main section.about:nth-of-type(odd) {
  flex-direction: row;
}

main section.about > p {
  flex: 3;
}

main section.about article {
  flex: 3;
}

main section.about article h2 {
  font-weight: 600;
  font-size: 32px;
  color: var(--color-white);
}

main section.about article p {
  font-weight: 400;
  font-size: 16px;
}

main section.about article ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  gap: 10px;
}

main section.about article ul li {
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 25px;
  padding: 5px 15px;
  font-weight: 400;
  font-size: 20px;
}

main section.about div {
  flex: 2;
}

main section.about img {
  border-radius: 18px;
  width: 100%;
}

/* experience section */
main section.experience {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 50px 150px;
}

main section.experience h2 {
  font-weight: 600;
  font-size: 32px;
  color: var(--color-white);
}

main section.experience > article {
  display: flex;
  gap: 10vw;
  justify-items: center;
  align-items: center;
}

main section.experience > article > section:first-child {
  flex: 2;
}

main section.experience > article > section:first-child h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: all 0.5ms ease-in;
}

main section.experience > article > section:first-child h3.active {
  color: var(--color-white);
}

main section.experience > article > section:first-child ul {
  padding: 10px 20px 15px 0;
  margin: 0;
  padding-left: 20px;
  cursor: pointer;
}

main section.experience > article > section:first-child li {
  font-size: 20px;
  padding: 0;
  margin: 0;
  transition: all 0.5ms ease-in;
}

main section.experience > article > section:first-child li.active {
  color: var(--color-white);
}

main section.experience > article > section:first-child article:hover h3,
main section.experience > article > section:first-child article:hover li {
  color: var(--color-white);
}

main section.experience > article > section:last-child {
  flex: 3;
  padding: 35px;
  border-radius: 18px;
  background-color: var(--color-dark-gray);
}

main section.experience > article > section:last-child p {
  font-size: 16px;
  font-weight: 400;
}

/* project section  */
main section.projects {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 50px 150px;
}

main section.projects h2 {
  font-weight: 600;
  font-size: 32px;
  color: var(--color-white);
}

main section.projects > div:first-of-type {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

main section.projects div article {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: var(--color-dark-gray);
  border-radius: 18px;
  transition: all 0.5ms ease-in;
}

main section.projects div article:hover {
  outline-offset: 4px;
  outline: 3px solid var(--color-white);
}

main section.projects div article div {
  display: flex;
  justify-content: end;
}

main section.projects div article div img {
  width: 18px;
  margin-left: 5px;
  cursor: pointer;
}

main section.projects div article h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-white);
  margin: 10px 0 0 0;
  padding: 0;
}

main section.projects div article p {
  font-size: 16px;
  font-weight: 400;
  flex: 1;
}

main section.projects div article ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  gap: 10px;
}

main section.projects div article ul li {
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 25px;
  padding: 5px 15px;
  font-weight: 400;
  font-size: 16px;
}

main section.projects div.more {
  margin-top: 15px;
}

/* blog section */
main section.blog {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 50px 150px;
}

main section.blog h2 {
  font-weight: 600;
  font-size: 32px;
  color: var(--color-white);
}

main section.blog > div:first-of-type {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

figure {
  margin: 0;
  cursor: pointer;
}

figure div img {
  width: 100%;
  height: calc(100vw / 3);
  border-radius: 18px;
  object-fit: cover;
  transition: all 0.5ms ease-in;
}

figure:hover div img {
  outline-offset: 4px;
  outline: 3px solid var(--color-white);
}

figure figcaption {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0;
  color: var(--color-white);
}

figure time {
  margin-bottom: 10px;
}

/* contact section */
main section.contact {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 10vw;
  padding: 0 150px;
}

main section.contact > div {
  flex: 1;
}

main section.contact div img {
  width: 100%;
}

main section.contact article {
  flex: 1;
}

main section.contact article h2 {
  color: var(--color-white);
  font-size: 32px;
  font-weight: 600;
}

main section.contact article p {
  font-size: 20px;
  font-weight: 400;
}

main section.contact article a {
  margin-top: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s ease;
}

main section.contact article a:hover {
  color: var(--color-black);
  background-color: var(--color-blue);
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  margin-top: 0;
}

footer p:first-child {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

footer p:last-child {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-white);
  margin-bottom: 20px;
}

footer p span {
  color: var(--color-blue);
}

footer p a {
  text-decoration: none;
  color: var(--color-blue);
}

/* component */

/* more button */
div.more {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

div.more a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 400;
  font-size: 16px;
  display: flex;
  padding: 10px 15px;
  border: 1px solid var(--color-white);
  border-radius: 25px;
  transition: all 0.5s ease;
}

div.more a img {
  width: 18px;
  height: auto;
  margin-left: 5px;
}

div.more a:hover {
  transform: scale(1.05);
}
