body {
  font-family: "Blinker", sans-serif;
  background-color: #1f2028;
  color: #a9adc1;
  margin: 0;
  padding: 0;
}

/* header */

/* navbar */
header nav {
  width: 100%;
  background-color: #1f2028;
  padding: 25px 0;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
}

header nav a {
  text-decoration: none;
}

header nav .logo {
  font-weight: 600;
  font-size: 32px;
  color: #fff;
  flex-grow: 1;
  padding-left: 75px;
}

header nav ul {
  padding-right: 75px;
  display: flex;
}

header nav ul li {
  list-style: none;
  margin-left: 50px;
}

header nav ul li a {
  font-size: 24;
  font-weight: 600;
  color: #a9adc1;
}

header nav ul li a:hover {
  color: #fff;
}

header nav ul li a.active {
  color: #fff;
}

/* hero */
header section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 10vw;
  padding: 0 150px;
}

header section article {
  flex: 4;
}

header section article p {
  margin: 0;
}

header section.home article p:last-of-type {
  font-weight: 400;
  font-size: 36px;
  color: #fff;
  margin-bottom: 25px;
}

header section.home article p:last-of-type span {
  color: #36a3ff;
}

header section.home article p:nth-last-of-type(2) {
  font-size: 68px;
  font-weight: 600;
  color: #fff;
}

header section.home article p:nth-last-of-type(3) {
  font-size: 24px;
  font-weight: 400;
}

header section.home article a {
  display: inline-block;
  text-decoration: none;
  color: #1f2028;
  padding: 10px 20px;
  background-color: #36a3ff;
  border-radius: 50px;
  font-weight: 400;
  font-size: 20px;
  transition: all 0.5s ease;
}

header section.home article a:hover {
  transform: scale(1.05);
}

header section article p:first-child {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
}

header section article p:last-child {
  font-weight: 600;
  font-size: 40px;
}

header section div {
  flex: 3;
}

header section div img {
  width: 100%;
}

/* aside */
aside address:first-child {
  position: fixed;
  height: 50vh;
  left: 75px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

aside address:last-child {
  position: fixed;
  height: 50vh;
  right: 75px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

aside address:last-child a {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  color: white;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

aside address div {
  flex: 1;
  width: 1px;
  background-color: white;
}

/* main */

/* about section */
main section.about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 10vw;
  padding: 0 150px;
}

main section.about:nth-of-type(even) {
  flex-direction: row-reverse;
}

main section.about:nth-of-type(odd) {
  flex-direction: row;
}

main section.about article {
  flex: 3;
}

main section.about article h2 {
  font-weight: 600;
  font-size: 32px;
  color: #fff;
}

main section.about article p {
  font-weight: 400;
  font-size: 16px;
}

main section.about article ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  gap: 10px;
}

main section.about article ul li {
  color: #36a3ff;
  border: 1px solid #36a3ff;
  border-radius: 25px;
  padding: 5px 15px;
  font-weight: 400;
  font-size: 20px;
}

main section.about img {
  flex: 2;
  border-radius: 18px;
  width: calc(100% / 3);
}

/* experience section */

/* project section  */

/* blog section */

/* contact section */
main section.contact {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 10vw;
  padding: 0 150px;
}

main section.contact h2 {
  color: white;
  font-size: 32px;
  font-weight: 600;
}

main section.contact p {
  font-size: 20px;
  font-weight: 400;
}

main section.contact a {
  margin-top: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: #36a3ff;
  border: 1px solid #36a3ff;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s ease;
}

main section.contact a:hover {
  color: #1f2028;
  background-color: #36a3ff;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  margin-top: 0;
}

footer p:first-child {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

footer p:last-child {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}

footer p span {
  color: #36a3ff;
}

footer p a {
  text-decoration: none;
  color: #36a3ff;
}

/* component */

/* more button */
div.more {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

div.more a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 25px;
  transition: all 0.5s ease;
}

div.more a img {
  width: 18px;
  height: auto;
  margin-left: 5px;
}

div.more a:hover {
  transform: scale(1.05);
}
